 .bar-side-menu {

   background-color: black;

 }

 .bar-content {

   background-color: black;

 }

 .button.button-positive {

   border-color: red;

   background-color: red;

    color: #fff;

 } 

 .item-divider {

   background-color: #fafafa;

 }

.ion-content.site_mod_quiz-player h3 {

    font-size: 30px;

}
